<div class="container">
  <div class="login-container">
    <div class="login-title">
      <label>Kite</label>
    </div>
    <div class="login-field">
      <label class="login-label">Username</label>
      <input class="login-input" type="text" id="username" />
    </div>
    <div class="login-field">
      <label class="login-label">Password</label>
      <input class="login-input" type="password" id="password" />
    </div>
    <div class="login-btn">
      <a href="#" (click)="loginUser($event)">Login</a>
    </div>
  </div>
</div>
