/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.alert-container {
  position: fixed;
  display: flex;
  width: 30vw;
  height: 4vh;
  top: 3vh;
  left: 35vw;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  opacity: 1;
}

.alert-msg {
  background: #6bbd6e;
  color: white;
  border-radius: 0.3em;
  font-size: 1.2em;
  padding: 0.5em 2em;
  text-align: center;
}

.alert-transition {
  opacity: 0;
  transition: all 1s;
}
